In [1]:
import os
import pandas as pd

In [38]:
i = 0
for file in os.listdir():
    i += 1
    if '.csv' in file:
        print(file)
        df = pd.read_csv(file,skiprows=6)
        df['Date'] = pd.to_datetime(df['Date (MM/DD/YYYY)'])
        df['Hour'] = df['Actual Arrival Time'].apply(lambda x:str(x).split(':')[0])
        df['Hour'] = df['Hour'].apply(lambda x: 0 if str(x)=='24' else x)
        df = df[['Date','Hour']]
        df.dropna(inplace=True)
#         break
#         print(df.head(2))
        if i == 1:
            df.to_csv('../JFK2015.csv',mode='a+',index=False)
        elif i> 1:
            df.to_csv('../JFK2015.csv',mode='a+',header=None,index=False)

B6.csv
HA.csv
DL.csv
UA.csv
MQ.csv
VX.csv
Alaska.csv
AA.csv
US.csv

In [53]:
df = pd.read_csv('../JFK2015.csv')
df['arrival'] = 1
df = df.groupby(['Date','Hour']).count().reset_index()
df.to_csv('../JFK2015.csv',index=False)

In [60]:
weather = pd.read_csv('../PENN2015.csv')
weather.head()

,Date,Hour,arrival,ifmon,iftue,ifwed,ifthu,iffri,ifsat,ifsun,...,if21,if22,if23,participation,SNOW,snowdepth,avgtemp,maxtemp,mintemp,ifSnow
0,2015-01-01,0,0.0,0,0,0,1,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,39.0,27.0,0
1,2015-01-01,1,1.0,0,0,0,1,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,39.0,27.0,0
2,2015-01-01,2,1.0,0,0,0,1,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,39.0,27.0,0
3,2015-01-01,3,0.0,0,0,0,1,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,39.0,27.0,0
4,2015-01-01,4,0.0,0,0,0,1,0,0,0,...,0,0,0,0.0,0.0,0.0,0.0,39.0,27.0,0

In [61]:
del weather['arrival']
weather.merge(df,on=['Hour','Date'],how='outer').fillna(0).to_csv('../JFK2015.csv',index=False)